<!DOCTYPE html>
<html>
<head>  
    <link href="{{=URL('static','css/jquery.dataTables.css')}}" 
          rel="stylesheet" type="text/css">
    <script src="{{=URL('static','js/jquery.js')}}"></script>
    <script src="{{=URL('static','js/jquery.dataTables.min.js')}}"></script>
    <script src="{{=URL('static','js/dataTables.fnReloadAjax.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            s = $('#silent').dataTable( {
	            "bProcessing": true,
	            "sAjaxSource": "{{=URL('monitor','silentevents.json')}}"
            } );
            s.fnSort( [ [1,'desc'] ] );
            setInterval(function() {
                s.fnReloadAjax();
            }, 5000);	            
	        b = $('#busy').dataTable( {
		        "bProcessing": true,
		        "sAjaxSource": "{{=URL('monitor','busyevents.json')}}"
	        } );
	        b.fnSort( [ [1,'desc'] ] );
            setInterval(function() {
                b.fnReloadAjax();
            }, 5000);	            
	        t = $('#tilt').dataTable( {
		        "bProcessing": true,
		        "sAjaxSource": "{{=URL('monitor','tiltevents.json')}}"
	        } );
	        t.fnSort( [ [1,'desc'] ] );
            setInterval(function() {
                t.fnReloadAjax();
            }, 5000);
        } );
    </script>
    <!--    setInterval(function () {alert("Hello")}, 10000);
    myVar=setTimeout("javascript function", milliseconds); -->
</head>
<body>
<h1>SenSafety - Intelligent Lamp Post control events
    <img id="COMMIT" src="{{=URL('static','images/COMMIT_logo_RGB.png')}}"
         style="margin-left:100px;width:10%;vertical-align: -20px">
</h1>
<div style='width:1240px;height:700px'>
    <div style='width:580px;float:left'>
    <h3>Silent -> moving lights during 8 seconds</h3>
    <table id="silent">
        <thead>
            <tr>
                <th width="28%">Location</th>
                <th width="16%">Timestamp</th>
                <th width="28%">Facecount</th>
                <th width="28%">Soundlevel</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Location</th>
                <th>Timestamp</th>
                <th>Facecount</th>
                <th>Soundlevel</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>Row 2 Data 1</td>
                <td>Row 2 Data 2</td>
                <td>etc</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div style='width:580px;float:right'>
    <h3>Busy -> warm/reddisch lighting conditions</h3>
    <table id="busy">
        <thead>
            <tr>
                <th width="28%">Location</th>
                <th width="16%">Timestamp</th>
                <th width="28%">Facecount</th>
                <th width="28%">Soundlevel</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Location</th>
                <th>Timestamp</th>
                <th>Facecount</th>
                <th>Soundlevel</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>Row 2 Data 1</td>
                <td>Row 2 Data 2</td>
                <td>etc</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<br><br>
<h3>Tilt -> flashing yellow lights during 3 seconds</h3>
<div style='width:700px'>
<table class="display" id="tilt">
    <thead>
        <tr>
            <th width="28%">Sensor</th>
            <th width="16%">Timestamp</th>
            <th width="28%">Origin</th>
            <th width="28%">State</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Sensor</th>
            <th>Timestamp</th>
            <th>Origin</th>
            <th>State</th>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>etc</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
            <td>etc</td>
        </tr>
    </tbody>
</table>
</div>
<br><br>{{=HR()}}
Go to {{=A('ILP control event timeline', _href=URL('monitor','timeline'))}} or
{{=A('raw facecount and sound events', _href=URL('monitor','raw'))}}
</body>
</html>
